
.container {
  background-color: rgb(255, 255, 255);
  padding: 100px;
  border-radius: 20px;
  width: 900px;
  margin: auto;
  margin-top: 25vh;
  position: center;
  columns: 2;
  
}

body {
  background-color: rgba(183, 185, 218, 0.267);
}


